@import './reuse';
@import '@radix-ui/colors/violet.css';

.sidebar {
  @extend .d-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: 100%;
  background-color: var(--violet-12);

  .menu-item {
    padding: 16px 8px;
    text-decoration: none;
    color: var(--violet-1);

    &.active {
      color: var(--violet-1);
      background-color: var(--violet-9);
    }
    &:hover {
      background-color: var(--violet-11);
    }
  }
}
